body {
    background-image: linear-gradient(to right, #007bff, #f59696);
    background-repeat: repeat-y;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
  }
  .form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
  }
  
  form {
    width: 100%;
    
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], select, input[type="file"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .selected-options {
    margin-bottom: 10px;
  }
  
  .selected-option {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: #e7f0ff;
    position: relative;
  }
  
  .remove-btn {
    background: none;
    border: none;
    color: #2b7bd1;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    right: 5px;
    left: 5px;
    padding: 3;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .remove-btn:focus {
    outline: none;
  }