body {
  background-image: linear-gradient(to right, #007bff, #f59696);
  background-repeat: repeat-y;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1.form-title {
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], select, input[type="file"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

input.form-input {
  width: 100%;
}

select.form-select {
  width: 100%;
}

input.form-file {
  width: 100%;
}

button.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.submit-btn:hover {
  background-color: #0056b3;
}

.selected-options {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap into a new line */
  gap: 10px; /* Adds space between the items */
  margin: 10px 0;
}

.selected-option {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content; /* Adjusts the width based on content */
}

.remove-btn {
  background: none;
  border: none;
  color: #dc3545;
  cursor: pointer;
  font-size: 14px;
}
